{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Your cart</h2>
    
    {% if cart_items %}
    <table>
        <thead>
            <tr>
                <th id="product">Product</th>
                <th id="price">Price</th>
                <th id="quantity">Quantity</th>
                <th id="total">Total</th>
                <th id="control" colspan="3">Control</th>
            
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td headers="product">{{ item.product.name }}</td>
                <td headers="price">{{ item.price_at_order }}$</td>
                <td headers="quantity">{{ item.quantity }} </td>
                <td headers="total">{{ item.get_total_price }} </td>
                <td headers="control">
                    <a href="{% url 'add_to_cart' item.product.id %}">+</a>
                </td>
                <td headers="control">
                    <a href="{% url 'remove_one_from_cart' item.id %}">-</a>
                </td>
                <td headers="control">
                    <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post" action="{% url 'checkout' %}" style="text-align: center; margin: 20px;">
        {% csrf_token %}
        <button type="submit" >Make an order</button>
    </form>

    {% else %}
        <p>It's empty here</p>
    {% endif %}
</div>
{% endblock %}
