{% extends 'adminbase.html' %}

{% block content %}
<h2>Staistics</h2>

<h3>Users age</h3>
<p><strong>Average age:</strong> {{ age_context.average_age|floatformat:2 }}</p>
<p><strong>Median age:</strong> {{ age_context.median_age }}</p>
<img src="data:image/png;base64,{{ age_context.chart }}" style="max-width: 100%; height: auto;">

<hr>

<h3>Orders cost</h3>
{% if order_context.no_data %}
    <p>No data.</p>
{% else %}
    <p><strong>Avarage cost:</strong> {{ order_context.average|floatformat:2 }}</p>
    <p><strong>Median cost:</strong> {{ order_context.median|floatformat:2 }}</p>
    <p><strong>Mode:</strong> {{ order_context.mode }}</p>
    <img src="data:image/png;base64,{{ order_context.chart }}" style="max-width: 100%; height: auto;">
{% endif %}
{% endblock %}
