{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css\task10.css' %}">
{% endblock %}

{% block content %}

<form id="input-x" name="input-x">
    <label>
        X:
        <input id="x" name="x">
    </label>
    <div>
        <button type="submit">Calculate</button>
    </div>
</form>

<button id="save-chart">Save</button>

<table id="result-table" class="result-table">
    <thead>
        <tr>
            <th>x</th>
            <th>n</th>
            <th>F(x)</th>
            <th>Math F(x)</th>
            <th>eps</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="cell-x"></td>
            <td id="cell-n"></td>
            <td id="cell-res"></td>
            <td id="cell-fres"></td>
            <td id="cell-eps"></td>
        </tr>
    </tbody>
</table>

<canvas id="chart" width="400" height="200"></canvas>

{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/task10.js' %}"></script>
{% endblock js %}