.result-table {
    border-collapse: collapse;
    margin-top: 10px;
    font-family: monospace;
    color: #ffffff; /* белый текст */
}

.result-table th,
.result-table td {
    border: 1px solid #aaaaaa; 
    padding: 6px 10px;
    text-align: center;
    background-color: #393838;
}

.result-table thead th {
    background: #6e6d6d;
    font-weight: bold;
    color: #ffffff;
}

#input-x label {
    display: block;
    width: 200px;
    margin: 10px; 
}

input.error {
    border: 2px solid red !important;
    background-color: #ffe6e6;
}

#save-chart {
    display: none;
}