.vacancies ul {
    list-style: none;
    margin: auto auto;
    padding: 0;
    overflow: hidden;
    max-width: 800px;
}

.vacancies h3 {
    float: left;
    clear: left;
    width: 30%;
    font-weight: bold;
    color: #333;
}

.vacancies p {        
    float: left;
    width: 65%;
    margin-left: 5%;
    color: #555;
}
.vacancies li {
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #f9f9f9;
}
