<!DOCTYPE html>
<body>
    <header>
        <div style="display: flex; gap: 10px; align-items: center;">
            {% if user.is_superuser %}
                <div> <a href="{% url 'addproduct' %}" class="btn">Add Product</a> </div>
                <div> <a href="{% url 'viewproducts' %}" class="btn">View Products</a> </div>
                <div> <a href="{% url 'addprovider' %}" class="btn">Add Providers</a> </div>
            {% endif %}

            {% if user.is_staff %}
                <div> <a href="{% url 'showstats' %}" class="btn">Staistics</a> </div>
                <div> <a href="{% url 'viewproviders' %}" class="btn">View Providers</a> </div>
                <div> <a href="{% url 'vieworders' %}" class="btn">View Orders</a> </div>
                <div> <a href="{% url 'main' %}" class="btn">Main</a> </div>
            {% endif %}
        </div>
    </header>

    <main class="container my-4">
        {% block content %}
    
        {% endblock %}
    </main>

    <footer class="bg-light py-3 text-center">
        <p>© AutoParts Pro</p>
    </footer>
</body>
</html>
