{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css\news.css' %}">
{% endblock %}

{% block content %}

<div class="parts-container">
    <img src="/static/images/detal1.png" class="part part-a">
    <img src="/static/images/detal2.png" class="part part-b">
    <img src="/static/images/detal3.png" class="part part-c">
    <img src="/static/images/detal4.png" class="part part-d">
</div>

<div class='news-title'>News</div>

<ul id="list">
{% if news %}
    {% for new in news %}
        <li>
        {%if new.image%} 
            <div class="news-image">
                <img src="{{ new.image.url }}" alt="{{ new.title }}"/>
            </div>
        {%endif%}
        <div class='news-head'>{{ new.title }}</div>
        <div class="short-news">{{new.short}}</div>
        <a href="{% url 'show_one_news' new.id %}" target="blank">Read more</a>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>It's empty here</p>
{% endif %}

{% block js %}
    <script src="{% static 'js/news.js' %}"></script>
{% endblock js %}

{% endblock content %}
