{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css\promocodes.css' %}">
{% endblock %}
{% block content %}
<h2>Promocodes</h2>

{% if promocodes %}
    <section>
        <ul class="promocodes-list">
            {% for pr in promocodes %}
                <li class="promocode" itemscope itemtype="https://schema.org/Offer">
                    <div itemprop="description">🎟️ {{ pr.description }}</div>
                    <p>
                        Valid until: 
                        <time itemprop="validThrough" datetime="{{ pr.valid }}">
                            {{ pr.valid }}
                        </time>
                    </p>
                    {% if not pr.is_valid %}
                        <p class="status expired">❌ Expired</p>
                    {% else %}
                        <p class="status active">✅ Active</p>
                    {% endif %}
                </li>
            {% empty %}
                <li>No promocodes available.</li>
            {% endfor %}
        </ul>
    </section>
{% else %}
    <div>
        <p>It's empty here</p>
    </div>
{% endif %}

{% endblock %}


{% block js %}
    <script src="{% static 'js/promo.js' %}"></script>
{% endblock %}