{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css\qa.css' %}">
{% endblock %}
{% block content %}
<h2>Questions and answers</h2>

<div itemscope itemtype="https://schema.org/QAPage">
{% if qa %}
    <ol start="1">
    {% for q in qa %}
    <li id='qa'> 
        <details>
            <summary>{{ q.question }}</summary>
            <p itemprop="text">{{ q.answer }}</p>
        </details>
    </li>
    {% endfor %}
    </ol>
{% else %}
    <div>
        <p>It's empty here</p>
    </div>
{% endif %}
</div>

{% endblock content %}