{% extends 'base.html' %}

{% block content %}
<h2>All reviews</h2>

{% if feedbacks %}
    <div>
        {% for feedback in feedbacks %}
        <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 20px;">
            <div>
                <h3>{{ feedback.username }}</h3>
                <small>{{ feedback.date|date:"d.m.Y" }}</small>
                <div>
                    {% for _ in "12345" %}
                        {% if forloop.counter <= feedback.rate %}★{% else %}☆{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                <p>{{ feedback.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div>
        <p>It's empty here</p>
    </div>
{% endif %}
<form action="{% url 'feedback' %}">
   <button>Send feedback</button>
</form>
{% endblock content %}