{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css\task8.css' %}">
{% endblock %}

{% block content %}

<form id="filter-author">
    <label>
        Author for filter:
        <input type="text" id="filter" name="author">
    </label>
    <div>
        <button type="submit">Add</button>
    </div>
</form>

<div class=result-title></div>
<ul class="result-container"> </ul>

<ul class="books-container"> </ul>

<form id="add-book">
    <label>
        Author:
        <input type="text" id="author" name="author">
    </label>
    <label>
        Title:
        <input type="text" id="title" name="title">
    </label>
    <label>
        Year:
        <input type="number" id="year" name="year">
    </label>
    <div>
        <button type="submit">Apply</button>
    </div>
</form>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/book2.js' %}"></script>
{% endblock js %}

