{%extends 'base.html'%}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css\vacancy.css' %}">
{% endblock %}
{%block content%}

<section itemscope itemtype="https://schema.org/JobPosting">
    <h2>Vacancies</h2>
    <ul class='vacancies'>
    {% for v in vacancies %}
    <li>
        <article itemprop="title" itemscope itemtype="https://schema.org/JobPosting">
            <h3 itemprop="title">{{ v.name }}</h3>
            <p itemprop="description">{{ v.description }}</p>
        </article>
    </li>
    {% empty %}
        <p>No vacancies available at the moment.</p>
    {% endfor %}
    </ul>
</section>

{%endblock%}