{% extends 'adminbase.html' %}

{% block content %}
<h2>Orders</h2>

{% if orders %}
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.user.username }}</td>
            <td>{{ order.date|date:"d.m.Y H:i" }}</td>
            <td>
                <ul>
                    {% for item in order.order_items.all %}
                    <li>{{ item.product.name }} (x{{ item.quantity }}) — {{ item.get_total_price }}$</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>It's empty here</p>
{% endif %}

{% endblock %}
